[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
commonmark = "*"
gunicorn = "*"
itsdangerous = "*"
numpy = "*"
python-dotenv = "*"
rich = "*"
torch = "*"
typing-extensions = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pygments = "*"
Werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
